<div class="footer" style="background-color: #001711;">
            <div style="display:flex;width:100%;flex-wrap:wrap;padding:20px;max-width: 1280px;
            margin-left: 10%;">
            <div class="footer__shop">
                <div class="footer__title">SHOP</div>
                <div class="footer__element">Crème de la Mer</div>
                <div class="footer__element">Bestsellers</div>
                <div class="footer__element">Shop All Products</div>
                <div class="footer__element">Today's Offer</div>
                <div class="footer__element">Waves de La Mer Loyalty</div>
                <select class="footer__shop-location">
                    <option value="none">Choose Location</option>
                    <option value="lowtohigh">PRICE(LOW TO HIGH)</option>
                    <option value="hightolow">PRICE(HIGH TO LOW)</option>
                    <option value="highrating">HIGHEST RATED</option>
                    <option value="new">NEW</option>
                </select> 
            </div>
            <div class="footer__help">
                <div class="footer__title">HOW CAN WE HELP?</div>
                <div class="footer__element">Customer Service</div>
                <div class="footer__element">Shipping</div>
                <div class="footer__element">Returns</div>
                <div class="footer__element">Find a Store/Spa</div>
                <div class="footer__element">La Mer Corporate</div>
                <div class="footer__element">Careers</div>
                <div class="footer__element">Accessibility</div>
            </div>
            <div class="footer__signup">
                <div class="footer__title">SIGN UP</div>
                <div><input class="footer__signup--input" type="text" onfocus="this.value=''" value="EMAIL ADDRESS"></div>
                <div><input class="footer__signup--input" type="text" onfocus="this.value=''" value="MOBILE PHONE"></div>
                <button class="footer__signup--button">SUBMIT</button>
                <div class="footer__signup-links">
                    <div><i class="footer__signup-links--icons fa fa-facebook"></i></div>
                    <div><i class="footer__signup-links--icons fa fa-instagram"></i></div>
                    <div><i class="footer__signup-links--icons fa fa-pinterest-p"></i></div>
                    <div><i class="footer__signup-links--icons fa fa-youtube-play"></i></div>
                </div>
            </div>
</div>