<div class="header">

            <!-- first row -->
            <div style="display:flex">
                <div class="header header__language">
                    <div class="header__language-wrap">
                        <img src="assets/image/flag.png" style="height: 11px;width: 24px;" alt="flag">
                        <div class="header__language-wrap--language">
                            - ENGLISH
                        </div>
                    </div>
                    <div class="header__email-wrap">
                        <div class="header__email-wrap--email">EMAIL SIGN UP</div>
                    </div>
                </div>
                <div class="header header__title" style="width: 60%;">
                    <div>LA MER</div>
                </div>
                <div class="header header__account">
                    <div style="height: 11px;width: 120px;">
                        <div class="header__account--signin">SIGN IN</div>
                    </div>
                    <div style="height: 11px;width: 120px;">
                        <div class="header__account--loyalty">JOIN LOYALTY</div>
                    </div>
                    <div style="font-size: small;margin-left: 4%;">
                        (1) <i class="fa fa-shopping-bag"></i>
                    </div>
                </div>
            </div>

            <!-- header menu -->
            <div class="header header__menu">
                <div class="header header__menu-item">
                    <ul>
                        <li><a href=#>Crème DE LA MER</a></li>
                        <li><a href=#>BESTSELLERS</a></li>
                        <li><a href=#>FACE</a></li>
                        <li><a href=#>BODY</a></li>
                        <li><a href=#>SKINCOLOR</a></li>
                        <li><a href=#>HOLIDAY GIFTS</a></li>
                        <li><a href=#>LIVE</a></li>
                        <li><a href=#>COLLECTIONS</a></li>
                        <li><a href=#>DISCOVER</a></li>
                    </ul>
                </div>
            </div>

            <!-- header carousal -->
            <div class="header__carousal">
                <div id="textMessage"></div>
                <div class="textContent">
                    <h2 style="padding:5px;font-size:15px;font-weight:200;font-family: sans-serif;">
                        Select 5 of your favorite deluxe minis with any $150 purchase.
                    </h2>
                </div>
                <div class="textContent">
                    <h2 style="padding:5px;font-size:15px;font-weight:200;font-family: sans-serif;">
                      Complimentary Shipping, Gift Wrap & Samples with Every Order.
                    </h2>
                </div>
            </div>
</div>